* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Gabarito', sans-serif;
    margin-top: 20px;
}

.navbar {
    background-color: white;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    align-items: center;
    margin-top: 20px;
    position: sticky;
    z-index: 1;
    top: 0;
}

.navbar__s1 {
    display: flex;
    align-items: center;
}

.navbar__s1 img {
    border-radius: 100px;
    height: 50px;
    width: 50px;
}

.navbar__s2 {
    display: flex;
    gap: 20px;
    font-size: 22px;
}

.navbar__s2 p {
    padding: 10px;
    border-radius: 20px;
}

.navbar__s2 p:hover {
    background-color: whitesmoke;
    color: black;
    animation-duration: 1s;
    cursor: pointer;
}

.navbar__s3 {
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 22px;
}

.navbar__s3 button {
    background-color: black;
    color: white;
    border-radius: 20px;
    padding: 10px;
    font-size: 22px;
}

.navbar__s3 button:hover {
    background-color: #ffffff;
    color: black;
    border: solid black 1px;
    cursor: pointer;
}

.where {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
    font-size: 27px;

}

.tray__s1 {
    display: flex;
}

.tray__s2 {
    display: flex;
}

.tray__s3 {
    display: flex;
}

.tray__s4 {
    display: flex;
}

.tray__s5 {
    display: flex;
}

.tray {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 15px;
    font-size: 22px;
    align-items: center;
}

.tray__s1 p:hover {
    cursor: pointer;
    border-bottom: solid black 2px;
}

.tray__s2 p:hover {
    cursor: pointer;
    border-bottom: solid black 2px;
}

.tray__s3 p:hover {
    cursor: pointer;
    border-bottom: solid black 2px;
}

.tray__s4 p:hover {
    cursor: pointer;
    border-bottom: solid black 2px;
}

.tray__s5 p:hover {
    cursor: pointer;
    border-bottom: solid black 2px;
}

.search__bar {
    display: flex;
    justify-content: center;
    align-items: center;

}

.search {
    display: flex;
    align-items: center;
    margin-top: 40px;
    border: solid black 1px;
    border-radius: 60px;
    width: 800px;
    padding: 0.4%;
    justify-content: space-between;
    cursor: pointer;
    position: sticky;
    z-index: 2;
    top: 0%;
}

.search input {
    font-size: 18px;
    width: 688px;
    border: none;
    display: flex;
    outline-style: none;
}

.search button {
    background-color: #34E0A1;
    color: solid black;
    padding: 15px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 17px;
}

.card {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    position: relative;
    padding: 10px;
}

.card img {
    background-color: violet;
    border-radius: 20px;
    width: 100%;
    position: relative;

}

.card__content {
    position: absolute;
    width: 24%;
    top: 37vw;
    left: 25%;
    font-size: 26px;
    column-gap: 10%;
}

.card__content span {
    background-color: #ffffff;
    border-radius: 2px;
    padding: 2px;
}

.card__content p {
    font-size: large;
}

.card__content button {
    margin-top: 30px;
    background-color: #52327C;
    color: white;
    font-size: 25px;
    border-radius: 50px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}

.card__content button:hover {
    background-color: black;
    color: white;
    border: solid #52327C 1px;
    animation-duration: 2s;
    cursor: pointer;
}

.beach_title {
    margin-top: 20px;
}

.beach_title_content {
    margin-top: 20px;
    font-size: 20px;
}

.beaches {
    margin-top: 20px;
    position: absolute;
    left: 5vw;
    padding: 10px
}

.beaches__container {
    margin-top: 50px;
    gap: 70px;
    display: flex;
    flex-grow: 1;
    flex-basis: 20%;
}

.beach__image img {
    display: flex;
    flex-wrap: wrap;
    border-radius: 30px;
    position: relative;
    width: 100%;

}

.topic__1 {
    position: absolute;
    bottom: -9px;
    padding: 20px;
    color: black;
    font-size: 42px;
}

.topic__2 {
    position: absolute;
    bottom: -13px;
    padding: 20px;
    color: black;
    font-size: 42px;
    width: 15%;
}

.topic__3 {
    position: absolute;
    top: 69%;
    padding: 20px;
    color: black;
    font-size: 42px;
    width: 10%;
}

.topic__4 {
    position: absolute;
    top: 69%;
    padding: 20px;
    color: black;
    font-size: 42px;
    width: 19%;
}


.like {
    margin-top: 600px;
    padding: 10px;
    position: absolute;
}

.like_title,
.like_title_desc {
    position: relative;
    left: 5vw;
    margin-top: 20px;

}

.like_title {
    font-size: 32px;
    margin-top: -10px;
}

.like_title_desc {
    font-size: 20px;
}

.like_card img {
    border-radius: 15px;
}

.like_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 70px;
    margin-top: 20px;
    position: relative;
    left: 5vw
}

.tour {
    margin-top: 70vw;
    position: absolute;
    padding: 10px;
    left: 5vw
}

.tour_container {
    display: flex;
}

.tour_container {
    width: 50%;
    gap: 70px;
    position: relative;
}

.tour_card img {
    border-radius: 15px;
}

.tour_title {
    margin-top: 10px;
}

.tour_decs {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
}

.city {
    margin-top: 106vw;
    padding: 10px;
    position: absolute;
    left: 5vw
}

.city_container {
    display: flex;
    gap: 70px;
    width: 100px;
    position: relative;
}

.city_desc {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
}

.city_card img {
    border-radius: 10px;
}

.city_card h1 {
    position: absolute;
    width: 13vw;
    padding: 10px;
    bottom: 0vw;
    color: #ffffff;
}

.more {
    margin-top: 136vw;
    padding: 30px;
    position: absolute;
    background-color: #FAF1ED;

}

.more_container {
    display: flex;
    width: 50%;
    gap: 70px;
    text-align: center;
    position: relative;
    left: 4vw;
    margin-top: 20px;
}

.more_title {
    position: relative;
    left: 5vw;
    margin-top: 10px;
}

.more_card {
    font-size: small;
}

.more_card img {
    margin-bottom: 20px;
    border-radius: 15px;
}

.pop {
    margin-top: 165vw;
    padding: 10px;
    display: flex;
    gap: 50px;
    width: 99%;
    position: absolute;
    background-color: #FAF1ED;
}

.pop_button button {
    position: absolute;
    bottom: 1vw;
    left: 73vw;
    background-color: white;
    font-size: large;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 35px;
}

.pop_button button:hover {
    cursor: pointer;
    background-color: black;
    color: #FAF1ED;
    animation-duration: 2s;
}

.pop_desc {
    margin-top: 2vw;
    left: 2vw;
    position: relative;
}

.pop_desc_content {
    margin-bottom: 2vw;
}

.pop_img img {
    padding: px;
    border-radius: 10px;
    transform: rotate(-8deg);
    left: 2vw;
    position: relative;
}

.video {
    margin-top: 180vw;
    display: flex;
    justify-content: center;
    width: 100%;
}

.last {
    margin-top: 100px;
    background-color: #FAF1ED;
    height: 639px;
    padding: 10px;

}

.last img {
    margin-top: 100px;
    position: relative;
    left: 56vw;
    top: -6vw;
    height: 632px;
}

.last_content {
    width: 37%;
    position: relative;
    left: 14vw;
    font-size: 29px;
    top: -39vw;
    color: black;
}

.last_content button {
    padding: 15px;
    padding-left: 53px;
    padding-right: 53px;
    font-size: 23px;
    background-color: black;
    color: white;
    border-radius: 55px;
    margin-top: 2vw;
}

.last_conten h4 {
    margin-top: 2vw;
}

.last_conten h1 {
    margin-top: 2vw;
}

.footer {
    display: flex;
    justify-content: center;
    position: relative;
    gap: 50px;
    padding-bottom: 40px;
    margin-top: 4vw;
    background-color: #FAF1ED;
    width: 100%;
    padding-top: 40px;
}

.footers {
    left: 2vw;
    position: relative;
}

.exit {
    display: flex;
    gap: 3px;
    position: absolute;
    align-items: center;
    left: 21.6vw;
    background-color: #FAF1ED;
    
}

.exit img {
    width: 50px;
    height: 50px;
    border-radius: 58px;
}

.divider{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    flex-wrap: wrap;
    width: 52vw;
}










